@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --nav-height: 60px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'inter', Arial, Helvetica, sans-serif;
}

main {
    margin-bottom: var(--nav-height);
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #91bef8;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    color: #000;
    background: none;
    border: none;
}

input {
    margin: 0;
    padding: 0;
    border: none;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
