.filters {
    padding: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    font-size: 20px;
    font-weight: 800;
}

.filters-wrapper {
    display: flex;
}

.filters__menu__btn {
    width: 30px;
    aspect-ratio: 1;
    background-color: #a1a1a1;
}

.filters__dropdown__btn {
    padding: 6px 33px 7px 14px;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: 600;
    background-color: #cccccc;
    background-image: url('../../../assets/svg/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 11px) center;
}
