.categories__list {
    display: flex;
    padding: 19px 25px;
    list-style: none;
    overflow-y: hidden;
    gap: 70px;
}

.categories__list::-webkit-scrollbar {
    display: none;
}

.categories__item {
    color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
}

.categories__item--selected {
    color: #000;
    font-weight: 800;
}

.categories__item a {
    color: inherit;
}