.categories__list {
    display: flex;
    padding: 19px 25px;
    list-style: none;
    overflow-y: hidden;
    gap: 70px;
}

.categories__list::-webkit-scrollbar {
    display: none;
}

.categories__item {
    color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
}

.categories__item--selected {
    color: #000;
    font-weight: 800;
}

.categories__item a {
    color: inherit;
}

/* series */

.series__carousel {
    padding: 28px 36px;
    background: linear-gradient(
        90deg,
        #fca717 20.67%,
        #018ac0 43.17%,
        #eca1b1 83.67%
    );
}

.series__item {
    position: relative;
    height: 288px;
    justify-content: center;
}

.series__item__img {
    width: 204px !important;
    border-radius: 40px;
}

.serie__item__img {
    background-repeat: no-repeat;
    background-size: contain;
}

.series__item__caption {
    position: absolute;
    color: #fff;
    font-size: 34px;
    font-weight: 900;
    white-space: nowrap;
    left: 50%;
    bottom: 10%;
    text-shadow: 7px 9px 6px rgba(0, 0, 0, 0.58);
    transform: translate(-50%, -50%);
}
