.product {
    position: relative;
    display: flex;
    padding: 10px 30px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: end;
}

.img {
    width: 100%;
    object-fit: contain;
}

.favorite-btn {
    position: absolute;
    display: flex;
    width: 17%;
    aspect-ratio: 1;
    top: 11px;
    right: 19px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.icon {
    margin-top: 4px;
    width: 70% !important;
}

.name {
    margin-bottom: 10px;
    font-size: 13px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 15px;
    font-weight: 600;
}

.buy-btn {
     padding: 5px 31px 5px 13px;
     font-size: 10px;
     font-weight: 800;
     background-color: #E0DBDB;
     background-image: url('../../../../../shared/assets/svg/cart.svg');
     background-repeat: no-repeat;
     background-size: 14px;
     background-position: calc(100% - 7px) center;
     border-radius: 10px;
}