.carousel--wrapper {
    padding: 25px 0;
    max-height: 379px;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.37);
}

.header {
    padding-left: 51px;
    color: #fff;
    font-size: 32px;
    font-weight: 900;
}

.product {
    margin: 0 50px;
    width: 195px;
    max-height: 259px;
    background-color: #fff;
}