:root {
    --bg-color: #a1a1a1;
}

.header {
    position: relative;
    display: flex;
    padding: 6px 30px;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.25);
}

.logo {
}

.logo--hidden {
    visibility: hidden;
}

.logo__img {
    width: 45px;
}

/* search */

.search--wrapper {
    position: absolute;
    right: 30px;
}

.search {
    padding: 5px;
    padding-right: 35px;
    width: 70px;
    height: 30px;
    color: rgba(0, 0, 0, 0);
    background-color: #fff;
    background-image: url('../svg/search.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    border: none;
    border-radius: 30px;
    transition: all 150ms linear;
}

.search:focus {
    margin-right: 55px;
    width: 74vw;
    color: inherit;
    transition: all 150ms linear;
}

.search__input-visible {
    display: block;
    animation: showSearch 3s ease-in-out forwards;
}

.search__btn {
    border: none;
    background: none;
}

.search__close-btn {
    position: absolute;
    display: none;
    width: 30px;
    aspect-ratio: 1;
    right: 0;
    background-color: #fff;
    border-radius: 10px;
    animation: showCloseBtn 100ms linear forwards ;
}

.search__close-btn--visible {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

@keyframes showSearch {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes showCloseBtn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* nav */

.nav {
    position: fixed;
    padding: 10px 25px;
    width: 100vw;
    height: var(--nav-height);
    bottom: 0;
    left: 0;
    background-color: var(--bg-color);
    z-index: 999;
}

.nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    block-size: fit-content;
}

.nav__item {
    position: relative;
}

.nav__link {
    display: flex;
    gap: 5px;
}

.nav__icon {
    width: 39px;
    aspect-ratio: 1;
}

.nav__label {
    display: none;
    color: #000;
    font-size: 1.2rem;
}

.cart-counter {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    padding: 2px 5px;
    font-size: 8px;
    font-weight: 700;
    background-color: #fff;
    border-radius: 10px;
}

/* search menu */

.search-menu {
    position: absolute;
    display: none;
    width: 100dvw;
    height: 100rch;
    top: 100%;
    z-index: 999;
    animation: close 50ms linear forwards;
}

.search-menu--visible {
    display: block;
    animation: open 50ms linear forwards;
}

@keyframes open {
    0% {
        right: -100%;
        display: none;
    }
    100% {
        right: 0;
    }
}

@keyframes close {
    0% {
        right: 0%;
        display: block;
    }
    100% {
        right: -100%;
        display: none;
    }
}


/* adaptive */

@media screen and (min-width: 768px) {
    .nav__label {
        display: inline-block;
    }
}
