.catalog-section {
    padding: 0 15px;
}

.catalog__list {
    --row-items: 2;
    --gap: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    list-style: none;
}

.catalog__item {
    --border: 1px solid rgba(0, 0, 0, 0.1);
    width: calc(
        (100% - var(--gap) * (var(--row-items) - 1)) / var(--row-items)
    );
    border-bottom: var(--border);
}

.catalog__item:nth-child(2n-1) {
    border-right: var(--border);
}

.catalog__item:nth-child(-n + 2) {
    border-top: var(--border);
}

/* adaptive */

@media screen and (min-width: 768px) {
    .main {
        background-position: 167% top;
    }

    .catalog__list {
        --row-items: 3;
        max-width: 900px;
    }

    .catalog__item {
        max-width: 240px;
    }
}

@media screen and (min-width: 1024px) {
    .catalog {
        padding: 0 60px;
    }
}
