.side-panel {
    height: 100%;
    overflow-y: auto;
}

.filters {
    padding: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    font-size: 20px;
    font-weight: 800;
}

.filters-wrapper {
    position: relative;
    display: flex;
}

.menu--btn {
    width: 30px;
    aspect-ratio: 1;
    background-color: #a1a1a1;
}

.dropdown--btn {
    padding: 6px 33px 7px 14px;
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    background-color: #cccccc;
    background-image: url('../../../shared/assets/svg/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 11px) center;
    outline: none;
}

.dropdown__menu {
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    background-color: #cccccc;
    transform-origin: center top;
    z-index: 998;
    animation: closeDropdown 50ms linear forwards;
}

.dropdown__menu--open {
    display: block;
    animation: openDropdown 50ms linear forwards;
}

.dropdown__list {
    list-style: none;
}

@keyframes openDropdown {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes closeDropdown {
    0% {
        transform: scaleY(1);
        display: block;
    }
    100% {
        transform: scaleY(0);
        display: none;
    }
}

/* Side Panel Styles */

.list {
    display: flex;
    margin-bottom: 60px;
    padding-left: 20px;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}

.apply--btn {
    margin-bottom: 30px;
    margin-left: 15px;
    padding: 7px 19px;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    border-radius: 10px;
}

/* item */

.item__name {
    display: inline-block;
    font-size: 20px;
}

/* Range Item */

.range__input {
    margin-top: 15px;
    padding: 0 10px;
    max-width: 72px;
    min-height: 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border-radius: 30px;
}

/* Options Item */

.item__dropdown {
    position: relative;
    padding-right: 25px;
    cursor: pointer;
    user-select: none;
}

.item__dropdown::after {
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    aspect-ratio: 1;
    right: 0;
    top: 20%;
    background-image: url('../../../shared/assets/svg/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right center;
    transform: rotate(0deg);
    transition: all 50ms linear;
}

.item__dropdown--open::after {
    transform: rotate(180deg);
    transition: all 50ms linear;
}

.options__list {
    margin-top: 10px;
    list-style: none;
    transform: scaleY(0);
    transform-origin: top left;
    animation: optionsClose 50ms linear forwards;
}

.options__list-visible {
    display: block;
    animation: optionsOpen 50ms linear forwards;
}

.options__item {
    display: flex;
    align-items: center;
}

.options__item:not(:last-child) {
    margin-bottom: 10px;
}

.option__name {
    font-size: 20px;
}

.options__checkbox {
    appearance: none;
    margin-right: 10px;
    width: 25px;
    aspect-ratio: 1;
}

.options__checkbox::before {
    content: '';
    display: block;
    width: 25px;
    aspect-ratio: 1;
    background-color: #fff;
    border-radius: 10px;
}

.options__checkbox:checked::before {
    content: '';
    display: block;
    background-image: url('../assets/svg/check.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

@keyframes optionsOpen {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes optionsClose {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
        display: none;
    }
}