.buy-btn {
    padding: 5px 31px 5px 13px;
    font-size: 10px;
    font-weight: 800;
    background-color: #e0dbdb;
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: calc(100% - 7px) center;
    border-radius: 10px;
}

@media screen and (max-width: 390px) {
    .buy-btn {
        font-size: 8px;
    }
}

@media screen and (max-width: 370px) {
    .buy-btn {
        font-size: 5px;
    }
}