.cart-section {
    margin-bottom: 50px;
}

.order-place {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.order-place__btn {
    padding: 18px 22px;
    bottom: 120px;
    background-color: #e0dbdb;
    border-radius: 10px;
    z-index: 50;
}
