.cart__item {
    background-color: #F9F9F9;
}

.cart__item__info {
    display: flex;
    padding: 30px 0 0 30px;
    margin-bottom: 30px;
    gap: 15px;
}

.item__img {
    width: 105px;
}

.cart__item__btns {
    display: flex;
    justify-content: space-between;
    background-color: #F2EFEF;
}

.btn {
    padding: 3.5px 7px;
    font-size: 18px;
    font-weight: 700;
    background-color: #E0DBDB;
}

.btn__cart {
    min-width: 150px;
    text-align: start;
    background-image: url('../../../shared/assets/svg/cart.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: calc(100% - 10px) center;
}