.side-panel {
    position: fixed;
    /* display: none; */
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    animation: close 150ms linear forwards;
}

.side-panel--open {
    display: flex;
    animation: open 150ms linear forwards;
}

.panel {
    background-color: #B9B6B6;
    width: 72%;
    height: 100%;
}

.close-area {
    width: 28%;
    height: 100%;
}

.header {
    display: flex;
    margin-bottom: 10px;
    padding: 30px 20px;
    width: 100%;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    background-color: #A1A1A1;
}

.list {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}

/* item */

.item__name {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 20px;
}

/* Range Item */

.range__input {
    padding: 0 10px;
    max-width: 72px;
    min-height: 30px;
    border-radius: 30px;
}

/* Options Item */

.item__dropdown {
    position: relative;
    padding-right: 25px;
}

.item__dropdown::after {
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    aspect-ratio: 1;
    right: 0;
    top: 25%;
    background-image: url('../../../assets/svg/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right center;
    rotate: 90deg;
}

.item__dropdown--open::after {
    content: '';
    rotate: 0;
}

.options__list {
    list-style: none;
}

.options__item {
    display: flex;
    align-items: center;
}

.options__item:not(:last-child) {
    margin-bottom: 10px;
}

.option__name {
    font-size: 20px;
}

.options__checkbox {
    appearance: none;
    margin-right: 10px;
    width: 25px;
    aspect-ratio: 1;
}

.options__checkbox::before {
    content: '';
    display: block;
    width: 25px;
    aspect-ratio: 1;
    background-color: #fff;
    border-radius: 10px;
}

.options__checkbox:checked::before {
    content: '';
    display: block;
    background-image: url('../assets/svg/check.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.options__checkbox--checked {}

/* animations */

@keyframes open {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@keyframes close {
    0% {
        left: 0%;
    }
    100% {
        left: -100%;
    }
}