.product {
    margin: 0 10%;
    margin-bottom: 17px;
}

.showcase {
    margin-bottom: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

.product__episode {
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.properties {
    padding: 15px 14px;
    background-color: #e8e8e8;
}

.properties__btns {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    list-style: none;
}

.properties-title--btn {
    padding: 10px 18px;
    font-size: 12px;
    font-weight: 500;
    background-color: #a1a1a1;
    border-radius: 8px;
}

.properties__info {
    margin: 0 25px;
    padding: 20px 15px;
    background-color: #ffffff;
    border-radius: 8px;
}

.property__info__paragraph {
    color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
    font-weight: 500;
}

.table {
    --border-color: #b9b9b9;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.table__row:last-child .table__row__section {
    border-bottom: none;
}

.table__row__section {
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
}

.table__row__section:first-child {
    border-right: 1px solid var(--border-color);
}