/* swiper */

.swiper-background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.swiper {
    padding-top: 30px;
    padding-bottom: 60px;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    width: 204px;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* item */

.item {
    display: flex;
    width: 204px;
    height: 288px;
    justify-content: center;
    align-items: end;
    border-radius: 40px;
}

.item__title {
    width: 100%;
    height: 95px;
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.58);
    border-radius: 0 0 40px 40px;
    text-shadow: 7px 9px 6px rgba(0, 0, 0, 0.58);
}
