.swiper-pagination {
    display: flex;
    padding: 9px 23px !important;
    width: auto !important;
    background-color: #B9B6B6;
    left: 50% !important;
    bottom: 15px !important;
    border-radius: 10px;
    gap: 23px;
    transform: translateX(-50%);
}

.swiper-pagination-bullet {
    margin: 0 !important;
    width: 6px !important;
    height: 6px !important;
    background: #5C5B5B !important;
    border: none !important;
    box-shadow: none !important;
}

.swiper-pagination-bullet-active {
    background: #000 !important; 
}